# Copy to terraform.tfvars and fill in values
# NEVER commit terraform.tfvars

subscription_id      = "YOUR-SUBSCRIPTION-ID-HERE"
env                  = "dev"
location             = "swedencentral"
project_name         = "fakedindeed"
sku_name             = "B1"
node_version         = "20-lts"
mysql_admin_login    = "mysqladmin"
mysql_admin_password = "CHANGE-ME-strong-password-123!"
mysql_sku_name       = "B_Standard_B1ms"
mysql_version        = "8.0.21"
